{% extends 'layout.html' %}

{% load staticfiles %}

{% block title %}Add Page{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>Add Page</h1>
    <form method="POST" action="{% url 'add_page' category.slug %}" id="category_form">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Add page" />
    </form>
    {% else %}
        The category is not valid
    {% endif %}
{% endblock %}
